*{
    text-align: center;
}

#mainid{
    color: blue;
}

h1,h3,h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.a{
    color: white;
    background-color: cornflowerblue;
}

div>button{
    color: azure;
    background-color: purple;
}

button:hover{
    background-color: yellow;
    color: blue;
}

p:nth-child(odd){
    color: yellow;
}

h1::first-letter{
    color: red;
}

input[type="checkbox"]:checked+label{
    color: #13592a; /* dark green color */
}

/* 
Qs10. Order these rules according to their specificity, from least specific to most specific. :
        
        - h1              <ele>
        - .main           <class>
        - div .main       <desc>
        - #mainContent    <id>    
*/